<%layout('layouts/boilerplate') %>
<div class="alert alert-danger" role="alert">
    <h4 class="alert-heading">ERROR 404</h4>
    <p><%= error %> </p>
    <hr>
    <p class="mb-0">Something went wrong</p>
  </div>