<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>add comment</h1>
    <form action="http://localhost:4000/comment" method='post'>
      <section>
        <label for="">name</label>
        <input type="text" placeholder="username" name="username">
        </section>

         <br>
         <section>
         <label for="">comment-text</label>
         </section>
        <textarea name="comment" id="" cols="30" rows="5" placeholder="comment"></textarea>
     <button >submit</button>
    </form>
    <a href="/comment">back to comments</a>
</body>
</html>