<%layout('layouts/boilerplate') %>
    <h1>new room</h1>
    <form action="http://localhost:5000/room" method="POST">
        <div>
            <label for="title">Title</label>
            <input type="text" id='title' name="Room[title]">
        </div>
        <div>
            <label for="loction">Location</label>
            <input type="text" id='location' name="Room[location]">
        </div>
        <button>submit</button>
    </form>
