<%layout('layouts/boilerplate') %>
    <div class="row">
        <div class="col-6 offset-3">
            <p class="h1">New Room</p>
            <form action="http://localhost:5000/room" method="POST" novalidate class="validated">
                <div class="mb-1 input-group-sm">
                    <label class="form-label">Title</label>
                    <input type="text" class="form-control" name="Room[title]" required>
                    <div class="invalid-feedback">
                        Required
                    </div>
                </div>
                <div class="mb-1 input-group-sm">
                    <label class="form-label">Location</label>
                    <input type="text" class="form-control" name="Room[location]" required>
                    <div class="invalid-feedback">
                        Required
                    </div>
                </div>
                <div class="mb-1 input-group-sm">
                    <label class="form-label">Image Url</label>
                    <input type="text" class="form-control" name="Room[image]" required>
                    <div class="invalid-feedback">
                        Required
                    </div>
                </div>
                <div class="mb-1 input-group-sm">
                    <label class="form-label">Price</label>
                    <div class="input-group mb-3">
                        <span class="input-group-text">$</span>
                        <input type="number" class="form-control" aria-label="Amount (to the nearest dollar)"
                            name="Room[price]" required>
                        <div class="invalid-feedback">
                            Required
                        </div>
                    </div>
                </div>

                <div class="mb-2 input-group-sm">
                    <label class="form-label">Description</label>
                    <textarea type="text" class="form-control" name="Room[description]" required></textarea>
                    <div class="invalid-feedback">
                        Required
                    </div>
                </div>
                <button type="submit" class="btn btn-success mb-2">Submit</button>
            </form>
            <a href="/room">All Products</a>
        </div>
    </div>



    <!-- <p class="h1">New Room</p>
    <form action="http://localhost:5000/room" method="POST">
        <div>
            <label for="title">Title</label>
            <input type="text" id='title' name="Room[title]">
        </div>
        <div>
            <label for="loction">Location</label>
            <input type="text" id='location' name="Room[location]">
        </div>
        <button>submit</button>
    </form> -->